<div class="nav">
  <div class="act">
    <div class="logo-img">
      <img src="../../../assets/img/favicon.svg">
    </div>
    <span routerLink="/admin/alunos" routerLinkActive="active-router">
      <mat-icon>people_alt</mat-icon>
      <p class="info">Alunos</p>
    </span>
    <span routerLinkActive="active-router" routerLink="/admin/cursos">
      <mat-icon>menu_book</mat-icon>
      <p class="info">Cursos</p>
    </span>
    <span routerLinkActive="active-router" routerLink="/admin/colaboradores">
      <mat-icon>account_circle</mat-icon>
      <p class="info">Colaboradores</p>
    </span>
  </div>
</div>
