mat-card {
  margin-top: 50px;
}

mat-card-title, span, h3 {
  color: var(--cor1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  color: rgb(129, 63, 63);
  cursor: pointer;
  margin-left: 10px;
}

h3 {
  text-decoration: underline;
}

.info {
  text-align: left;
}

span {
  font-weight: bold;
}
