<h2>Adcionar novo aluno</h2>

<form>
  <div class="row">

    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome do aluno">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>Sobrenome</mat-label>
      <input matInput placeholder="Sobrenome do aluno">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail do aluno">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="Telefone do aluno">
    </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-12 col-md-4">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Digite o cep">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 col-md-3">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Número da casa">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 col-md-5">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Complemento">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Rua">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-12 col-md-4">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Bairro">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12 col-md-3">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12 col-md-5">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado">
      </mat-form-field>
    </div>

      <button mat-raised-button color="primary">Confirmar</button>

      <button mat-raised-button color="warn">Cancelar</button>

</form>
