mat-toolbar {
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, var(--cor2), var(--cor1));
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.603);
  padding: 20px;

}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor4)
}

.name p {
  margin-top: 10px;
}


#exit-icon {
  cursor: pointer;
}

@media(max-width:768px) {
  mat-toolbar {
    font-size: 1em;
  }
}
