.container-fluid {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 0 30px 0;
}

.header {
  margin-left: calc(100% - 92%)
}

.menu-component {
  position:fixed;
  top:0;
  left:0%;
  overflow:hidden;
}

.content {
  margin-left: auto;
}


.row, .container, .menu-component {
  margin: 0;
  padding: 0;
}

@media(max-width:767px) {


  .menu-component-mobile {
    visibility: visible;
  }

  .button-menu {
    display: block;
  }
}


@media(max-width:767px) {
  .header {
    margin-left: calc(100% - 85%)
  }
}
